:root {
    --main-fontcolor: hsl(236, 91%, 18%);
    --main-bkg: white;
    --main-pale2: rgb(11, 152, 198);
  }
  
  body {
    /*maybe add a background image later! */
    /*background-image: url("../images/bkg_desktop.png");
    opacity:1;
    background-size: cover;
    background-repeat: no-repeat;*/
    background-color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
    justify-content: center;
  }

  .logoAnim {
    padding: 2rem;
    width:20%;
  }

  @media (max-width: 480px) {
    .logoAnim {
      width:60%;
    }
  }


  .shakeMe {
    animation: shake 2s infinite;
    animation-iteration-count: 8;
    }
    @keyframes shake {
      10% { transform: scale(1.05) rotate(5deg);}
      20% { transform: scale(1.05) rotate(-5deg);}
      30% { transform: scale(1.05) rotate(5deg);}
      40% { transform: none;}
    }

    h1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        padding: 2rem;
        padding-bottom: 1rem;
        font-size: 1.8rem;
        font-weight: 800;
        color: var(--main-fontcolor);
      }
      
      @media (max-width: 480px) {
        h1 {
          font-size: 2.4rem;
        }
      }

    h3 {
        display: inline;
        align-items: center;
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
        padding-top: 0.5rem;
        padding-bottom: 4rem;
        margin: auto;
        font-size: 1rem;
        width: 600px;
        height: 150px;
      }

      h4 {
        display: inline;
        align-items: center;
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
        padding-top: 2rem;
        padding-bottom: 4rem;
        margin: auto;
        font-size: 0.8rem;
        font-weight: 200;
        width: 600px;
        height: 150px;
        color: var(--main-fontcolor);
      }

      .pSmall {
        align-items: center;
        font-family: 'Raleway', sans-serif;
        margin: 1.5rem;
        margin-top: 0.2rem;
        font-size: 0.85rem;
        font-weight: 350;
        color: var(--main-fontcolor);
        padding-bottom: 0rem;
      }

      .contAbout {
        display:inline-block;
        align-items: center;
        width:100%;
      }

.closeIcon {
  display:inline;
  align-items:right;
}

      /* Popup container starts here*/
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-size: 0.65rem;
    font-weight: 200;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  